.discount {
  padding-top: 60px;
  padding-bottom: 100px;
  background-image: url(../assets/images/discount-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 860px) {
    padding-top: 140px;
  }
  &__form {
    padding: 0 20px;
    color: #fff;
    @media (min-width: 860px) {
      display: flex;
      justify-content: center;
    }
  }
  &__fieldset {
    @media (min-width: 860px) {
      width: 420px;
      margin: 0 28px;
    }
  }
  &__btn {
    margin-top: 13px;
    text-align: center;
  }
}
