section.advantages
  .advantages__bg
  .advantages__body
    .advantages__items
      .advantages__item
        .advantages__img.advantages__img--1
          .advantages__icon
            img(src="./assets/images/advantages-icon1.png")
          .advantages__title СМС оповещение <br> о статусе груза
          .advantages__txt Нет никаких дополнительных наценок. <br> Груз застрахован на 100% при <br> перевозке через таможенный пункт, <br> в случае повреждения или потере <br> груза мы купим вам такой же <br> товар либо вернем <br> деньги.
      .advantages__item
        .advantages__img.advantages__img--2
          .advantages__icon
            img(src="./assets/images/advantages-icon1.png")
          .advantages__title Страхование - 0% <br> входит в стоимость
          .advantages__txt Нет никаких дополнительных наценок. <br> Груз застрахован на 100% при <br> перевозке через таможенный пункт, <br> в случае повреждения или потере <br> груза мы купим вам такой же <br> товар либо вернем <br> деньги.
      .advantages__item
        .advantages__img.advantages__img--3
          .advantages__icon
            img(src="./assets/images/advantages-icon3.png")
          .advantages__title Нет никаких внезапных <br> дополнительных <br> расходов
          .advantages__txt Нет никаких дополнительных наценок. <br> Груз застрахован на 100% при <br> перевозке через таможенный пункт, <br> в случае повреждения или потере <br> груза мы купим вам такой же <br> товар либо вернем <br> деньги.

      .advantages__item
        .advantages__img.advantages__img--4
          .advantages__icon
            img(src="./assets/images/advantages-icon4.png")
          .advantages__title Все вопросы <br> с таможней без вашего <br> участия
          .advantages__txt Нет никаких дополнительных наценок. <br> Груз застрахован на 100% при <br> перевозке через таможенный пункт, <br> в случае повреждения или потере <br> груза мы купим вам такой же <br> товар либо вернем <br> деньги.
      .advantages__item
        .advantages__img.advantages__img--5
          .advantages__icon
            img(src="./assets/images/advantages-icon5.png")
          .advantages__title Отправка груза <br> каждый день
          .advantages__txt Нет никаких дополнительных наценок. <br> Груз застрахован на 100% при <br> перевозке через таможенный пункт, <br> в случае повреждения или потере <br> груза мы купим вам такой же <br> товар либо вернем <br> деньги.
      .advantages__item
        .advantages__img.advantages__img--6
          .advantages__icon
            img(src="./assets/images/advantages-icon6.png")
          .advantages__title 70% клиентов <br> получают груз раньше <br> заявленных сроков
          .advantages__txt Нет никаких дополнительных наценок. <br> Груз застрахован на 100% при <br> перевозке через таможенный пункт, <br> в случае повреждения или потере <br> груза мы купим вам такой же <br> товар либо вернем <br> деньги.
