.advantages {
  position: relative;
  &__bg {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 90%;
    background-color: #ff3e41;
    transform: translateY(-50%);
    z-index: -1;
    @media (min-width: 680px) {
      height: 80%;
      background-image: url(../assets/images/advantages-bg.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    @media (min-width: 960px) {
      height: 550px;
    }
    @media (min-width: 1366px) {
      height: 684px;
    }
  }
  &__body {
    position: relative;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 30px;
    color: #fff;
    @media (min-width: 960px) {
      max-width: 1200px;
    }
    @media (min-width: 1366px) {
      max-width: 1381px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 680px) {
      justify-content: space-between;
    }
    & + & {
      margin-top: 49px;
    }
  }
  &__item {
    width: 300px;
    margin: 19px 0;
    @media (min-width: 680px) {
      margin: 30px 0;
    }
    @media (min-width: 1366px) {
      width: 400px;
    }
  }
  &__img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 50%;
      transition: background-color $mid;
    }
    &:hover {
      &:before {
        background-color: rgba(0, 0, 0, 0.5);
      }
      .advantages__txt {
        top: 52%;
      }
      .advantages__icon {
        top: -100%;
      }
      .advantages__title {
        top: 24%;
      }
    }
    &--1 {
      background-image: url(../assets/images/advantages-item1.jpg);
    }
    &--2 {
      background-image: url(../assets/images/advantages-item2.jpg);
    }
    &--3 {
      background-image: url(../assets/images/advantages-item3.jpg);
    }
    &--4 {
      background-image: url(../assets/images/advantages-item4.jpg);
    }
    &--5 {
      background-image: url(../assets/images/advantages-item5.jpg);
    }
    &--6 {
      background-image: url(../assets/images/advantages-item6.jpg);
    }
  }
  &__icon {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
    transition: top $slow;
    @media (min-width: 1366px) {
      top: 20%;
      width: 115px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    position: absolute;
    top: 55%;
    width: 100%;
    font-family: $neo_sans_pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    transition: top $mid;
    @media (min-width: 1366px) {
      font-size: 27px;
    }
  }
  &__txt {
    position: absolute;
    top: 100%;
    width: 100%;
    font-family: $gotham_pro;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    transition: top $slow;
    @media (min-width: 1366px) {
      font-size: 17px;
      line-height: 24px;
    }
  }
}
