section.delivery
  .delivery__body
    h2.delivery__title Карго доставка <br> из <span>Китая</span> в <span>Россию</span>
    p Карго-доставка из Китая в Россию, осуществляемая компанией China Town – это возможность получить заказанный товар в минимальные сроки, в полной сохранности и без лишних затрат.
    h4.delivery__subtitle Проверка и <span>сохранность</span> груза
    p Карго-доставка грузов из Китая осуществляется автомобильным и железнодорожным транспортом. Мы предусмотрели ряд мероприятий, позволяющих довезти приобретенную в Китае продукцию до места назначения в исправном состоянии:

    ul.delivery__list
      li.delivery__item наши сотрудники на складе в г. Манчжурия осуществляют выборочную проверку поставки на брак, и если таковой обнаружен, ревизии подвергается вся партия товаров.
      li.delivery__item мы также проверяем товары на соответствие заказу, целостность и отсутствие дефектов, возникших при транспортировке до нашего склада.
      li.delivery__item проверка сложного электронного оборудования (телефонов, компьютеров и других устройств) осуществляется по предварительному запросу.
      li.delivery__item хрупкие товары упаковываются в защитный мешок или обрешетку для последующей транспортировки.

  .delivery__footer
    .delivery__discount Получите скидку — 10% <br> на <span>первую отправку</span> груза
    .delivery__btn
      button.btn.btn--shadow.js-discount Получить скидку — 10%
