.delivery {
  position: relative;
  padding-top: 83px;
  padding-bottom: 60px;
  color: #19233a;
  font-family: $gotham_pro;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  overflow: hidden;
  @media (min-width: 860px) {
    padding-top: 203px;
    padding-bottom: 195px;
    font-size: 22px;
    line-height: 40px;
    text-align: left;
  }
  &:before {
    position: absolute;
    top: 50%;
    right: -1381px;
    margin-top: -750px;
    width: 1500px;
    height: 1500px;
    background-color: #ff3e41;
    border-radius: 50%;
    z-index: -1;
    @media (min-width: 1200px) {
      content: '';
    }
  }

  &__body {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__title,
  &__subtitle,
  &__discount {
    color: #19233a;
    font-family: $neo_sans_pro;
    font-weight: 700;
    span {
      color: #ff3e41;
    }
  }
  &__title {
    margin: 0 0 60px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    @media (min-width: 860px) {
      font-size: 80px;
      line-height: 85px;
    }
  }
  &__subtitle {
    margin: 30px 0;
    font-size: 25px;
    line-height: 28px;
    @media (min-width: 860px) {
      font-size: 42px;
      line-height: 44px;
    }
  }

  &__list {
    max-width: 1100px;
    padding-top: 50px;
    font-weight: 700;
    @media (min-width: 860px) {
      padding-top: 31px;
      font-weight: 400;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 31px;
    @media (min-width: 860px) {
      padding-left: 64px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -18px;
      left: 50%;
      width: 28px;
      height: 3px;
      margin-left: -14px;
      background-color: #ff3e41;
      @media (min-width: 860px) {
        top: 18px;
        left: 0;
        margin-left: 0;
      }
    }
  }

  &__footer {
    display: flex;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
      margin-top: 90px;
    }
    @media (min-width: 1200px) {
      justify-content: space-between;
    }
    @media (min-width: 1366px) {
      max-width: 1320px;
    }
  }
  &__discount {
    font-size: 26px;
    line-height: 30px;
    @media (min-width: 860px) {
      font-size: 46px;
      line-height: 60px;
    }
    @media (max-width: 1199px) {
      margin-bottom: 40px;
      text-align: center;
    }
    @media (min-width: 1366px) {
      font-size: 55px;
      line-height: 65px;
    }
  }
}
