.reviews {
  padding-top: 110px;
  @media (min-width: 860px) {
    padding-top: 140px;
  }
  &__title,
  &__subtitle {
    margin-top: 0;
    color: #19233a;
    font-weight: 700;
    text-align: center;
  }
  &__title {
    margin-bottom: 0;
    font-family: $neo_sans_pro;
    font-size: 32px;
    line-height: 75px;
    @media (min-width: 860px) {
      margin-bottom: 30px;
      font-size: 80px;
      line-height: 75px;
    }
  }
  &__subtitle {
    font-family: $gotham_pro;
    font-size: 20px;
    @media (min-width: 860px) {
      font-size: 36px;
    }
    span {
      color: #ff3e41;
    }
  }
  &__carousel {
    padding-bottom: 40px;
    background-color: #f0f0f0;
    background-image: linear-gradient(to top, #d6d6d6 0%, #ffffff 100%);
    @media (min-width: 860px) {
      padding: 0;
    }
  }
  &__cell {
    position: relative;
    display: block;
    margin: 0 36px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
      transition: background-color $slow;
    }
    .center & {
      &:after {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  &__video {
    position: relative;
    height: 182px;
    @media (min-width: 860px) {
      height: 306px;
    }
  }
  &__content {
    height: 182px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-width: 860px) {
      height: 306px;
    }
  }
  &__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -43px;
    margin-left: -43px;
    @media (min-width: 860px) {
      margin-top: -62px;
      margin-left: -62px;
    }
  }
  &__body {
    padding: 25px 0;
    background-color: #fff;
    @media (min-width: 860px) {
      padding: 42px 0;
    }
  }
  &__img {
    text-align: center;
    img {
      display: inline-block !important;
      width: 74px !important;
      border-radius: 50%;
      @media (min-width: 860px) {
        width: auto !important;
      }
    }
  }
  &__name {
    color: #000;
    font-family: $neo_sans_pro;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    @media (min-width: 860px) {
      font-size: 16px;
    }
  }
  &__review {
    margin-top: 10px;
    padding: 0 30px;
    color: #c0c0c0;
    font-family: $gotham_pro;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    @media (min-width: 860px) {
      padding: 0;
      font-size: 18px;
    }
  }
}
