section.reviews
  h2.reviews__title Видео-отзывы 
  h4.reviews__subtitle Посмотрите, что говорят <span>клиенты о нас</span>
  .reviews__carousel.owl-carousel.js-reviews-carousel
    a.reviews__cell(data-fancybox href="https://www.youtube.com/embed/dQw4w9WgXcQ")
      .reviews__video
        .reviews__content(style="background-image: url(./assets/images/reviews-preview.jpg)")
          //- iframe(width="100%", height="306", src="https://www.youtube.com/embed/dQw4w9WgXcQ", frameborder="0", allowfullscreen)
        .reviews__video-btn.video-btn
      .reviews__body
        .reviews__img
          img(src="./assets/images/reviews-user.jpg")
        .reviews__name Алексей, г. Москва
        .reviews__review “Спасибо за столь масштабный проект”

    a.reviews__cell(data-fancybox href="https://www.youtube.com/embed/dQw4w9WgXcQ")
      .reviews__video
        .reviews__content(style="background-image: url(./assets/images/reviews-preview.jpg)")
          //- iframe(width="100%", height="306", src="https://www.youtube.com/embed/dQw4w9WgXcQ", frameborder="0", allowfullscreen)
        .reviews__video-btn.video-btn
      .reviews__body
        .reviews__img
          img(src="./assets/images/reviews-user.jpg")
        .reviews__name Алексей, г. Москва
        .reviews__review “Спасибо за столь масштабный проект”

    a.reviews__cell(data-fancybox href="https://www.youtube.com/embed/dQw4w9WgXcQ")
      .reviews__video
        .reviews__content(style="background-image: url(./assets/images/reviews-preview.jpg)")
          //- iframe(width="100%", height="306", src="https://www.youtube.com/embed/dQw4w9WgXcQ", frameborder="0", allowfullscreen)
        .reviews__video-btn.video-btn
      .reviews__body
        .reviews__img
          img(src="./assets/images/reviews-user.jpg")
        .reviews__name Алексей, г. Москва
        .reviews__review “Спасибо за столь масштабный проект”
