head
  meta(charset="utf-8")

  title ChinaTown
  meta(name="description", content="")
  meta(name="keywords", content="")

  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")

  link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon/favicon-16x16.png")
  link(rel="manifest", href="/assets/favicon/manifest.json")
  link(rel="mask-icon", href="/assets/favicon/safari-pinned-tab.svg", color="#5bbad5")
  link(rel="shortcut icon", href="/assets/favicon/favicon.ico")
  meta(name="msapplication-config", content="/assets/favicon/browserconfig.xml")
  meta(name="theme-color", content="#ffffff")
