.modal.js-modal-discount
  .modal__overlay
  .modal-btn.js-modal-close
  .modal__wrapper
    .modal__inner
      h2.title.title--sec Получите скидку — 10%<br>на <span>первую отправку</span> груза
      form(action="#")
        .discount__form
          .discount__fieldset
            label.form__label(for="discount-name-field") 05&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВАШЕ ИМЯ
            input.form__field(type="text", name="discount-name", id="discount-name-field", placeholder="Иван Иванов")

          .discount__fieldset
            label.form__label(for="discount-phone-field") 06&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВАШ ТЕЛЕФОН <span>*</span>
            input.form__field(type="text", name="discount-phone", id="discount-phone-field", placeholder="+7 (___) ___-__-__")

        .discount__btn
          button.btn.btn--shadow Получить скидку — 10%


.modal.js-modal-feedback
  .modal__overlay
  .modal-btn.js-modal-close
  .modal__wrapper
    .modal__inner
      h2.title.title--sec Получите консультацию
      form(action="#")
        .discount__form
          .discount__fieldset
            label.form__label(for="discount-name-field") 05&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВАШЕ ИМЯ
            input.form__field(type="text", name="discount-name", id="discount-name-field", placeholder="Иван Иванов")

          .discount__fieldset
            label.form__label(for="discount-phone-field") 06&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВАШ ТЕЛЕФОН <span>*</span>
            input.form__field(type="text", name="discount-phone", id="discount-phone-field", placeholder="+7 (___) ___-__-__")

        .discount__btn
          button.btn.btn--shadow Получить скидку — 10%
