.steps {
  max-width: 1266px;
  margin: 0 auto;
  padding: 80px 0;
  @media (min-width: 860px) {
    padding: 140px 0;
  }
  &__title {
    margin-top: 0;
    color: #19233a;
    font-family: $neo_sans_pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    @media (min-width: 860px) {
      font-size: 80px;
      line-height: 85px;
    }
    span {
      color: #ff3e41;
    }
  }
  &__subtitle {
    padding-bottom: 20px;
    color: #19233a;
    font-family: $gotham_pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    @media (min-width: 860px) {
      padding-bottom: 80px;
      font-size: 36px;
    }
    span {
      @media (max-width: 859px) {
        display: block;
      }
    }
    i {
      color: #ff3e41;
      font-style: normal;
    }
  }
  &__step {
    display: flex;
    padding: 0 30px;
    @media (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 1200px) {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
    }
  }
  &__image {
    width: 313px;
    @media (min-width: 860px) {
      width: 490px;
    }
    @media (min-width: 1366px) {
      width: 553px;
    }
    .steps__step--1 &,
    .steps__step--3 & {
      @media (max-width: 1199px) {
        order: 2;
      }
    }
  }
  &__img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    &--1 {
      background-image: url(../assets/images/steps-img1.jpg);
    }
    &--2 {
      background-image: url(../assets/images/steps-img2.jpg);
    }
    &--3 {
      background-image: url(../assets/images/steps-img3.jpg);
    }
  }
  &__info {
    position: relative;
    margin-bottom: 30px;
    @media (min-width: 860px) {
      width: 570px;
      height: 400px;
    }
  }
  &__num {
    position: absolute;
    top: 50%;
    color: #f2f2f2;
    font-family: $neo_sans_pro;
    font-size: 223px;
    font-weight: 700;
    line-height: 1;
    transform: translateY(-50%);
    z-index: -1;
    @media (min-width: 860px) {
      font-size: 400px;
    }
  }
  &__header {
    padding-top: 40px;
    color: #19233a;
    font-family: $neo_sans_pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    @media (min-width: 860px) {
      padding-top: 70px;
      font-size: 55px;
      text-align: left;
    }
    span {
      color: #ff3e41;
    }
  }
  &__txt {
    max-width: 300px;
    padding-top: 15px;
    color: #19233a;
    font-family: $gotham_pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    @media (min-width: 860px) {
      max-width: none;
      padding-top: 35px;
      padding-left: 90px;
      font-size: 24px;
      line-height: 40px;
      text-align: left;
    }
  }
}
