section.steps
  h2.steps__title Как происходит<br> <span>доставка груза</span> из Китая?
  .steps__subtitle <span><i>3</i> Шага,</span> <span><i>1</i> Договор,</span> <span><i>Ноль</i> проблем</span>

  .steps__step.steps__step--1
    .steps__image
      .steps__img.steps__img--1
    .steps__info
      .steps__num 01
      .steps__header <span>Забираем</span> груз
      .steps__txt Получаем либо забираем от вашего поставщика груз, перевозим к себе на склад в Манчжурии.

  .steps__step
    .steps__info
      .steps__num 02
      .steps__header Прохождение<br><span>таможни</span>
      .steps__txt Отправляем груз в Забайкальск. Решаем все вопросы с таможней без вашего участия “под ключ”.
    .steps__image
      .steps__img.steps__img--2

  .steps__step.steps__step--3
    .steps__image
      .steps__img.steps__img--3
    .steps__info
      .steps__num 03
      .steps__header Отправка груза<br><span>в ваш город</span>
      .steps__txt Осуществляется с помощью Транспортной компании. Подбираем максимально выгодный тариф на всех этапах доставки.
