header.header
  .header__top.js-header
    .header__wrapper
      .header__logo
        a.header__logo-link(href="/")
          img.header__logo-img(src="./assets/images/header-logo-img.png" alt="ChinaTown")
          img.header__logo-name(src="./assets/images/header-logo-name.png" alt="ChinaTown")
        .header__title Доставка из Китая
      .header__contacts.header__contacts--header
        a.header__phone(href="tel:88002226078") 8 (800) 222-60-78
        span Звонок бесплатный по РФ
        a.header__email(href="mailto:ct-cargo@bk.ru") ct-cargo@bk.ru
      include ../nav/nav.pug

  .header__info
    h1.header__tagline Доставка грузов из&nbsp;Китая&nbsp;<span>от&nbsp;30кг<span>
    .header__btns
      button.btn.btn--outline.js-calc Рассчитать стоимость
      button.btn.btn--transparency.js-feedback Получить консультацию

  .header__video
    .header__video-tagline Посмотрите&nbsp;видео о&nbsp;нашей&nbsp;работе
    .header__video-container
      img(src="./assets/images/header-video.jpg")
      .header__video-btn.video-btn

  .header__bottom
