.header {
  position: relative;
  min-height: 100vh;
  color: #fff;
  background-image: url(../assets/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &__top {
    position: relative;
    width: 100%;
    height: 110px;
    @media (min-width: 860px) {
      height: 140px;
    }
    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(#0a1f5b, 0.95);
      transition: all $slow;
      z-index: 100;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    padding: 21px 203px 8px 28px;
    font-size: 21px;
    @media (min-width: 860px) {
      padding: 21px 203px 8px 66px;
    }
  }
  &__logo {
    display: flex;
    .header__top--fixed & {
      align-items: center;
    }
  }
  &__logo-link {
    display: flex;
    align-items: flex-start;
    .header__top--fixed & {
      align-items: center;
    }
  }
  &__logo-img {
    @media (max-width: 860px) {
      width: 50px;
    }
  }
  &__logo-name {
    width: 75px;
    margin-top: 23px;
    margin-left: 20px;
    transition: all $mid;
    @media (min-width: 860px) {
      width: auto;
      margin-top: 36px;
      margin-left: 32px;
    }
    .header__top--fixed & {
      margin-top: 0;
    }
  }
  &__title {
    padding-top: 48px;
    padding-left: 59px;
    font-family: $gotham_pro;
    transition: all $mid;
    @media (max-width: 1100px) {
      display: none;
    }
    .header__top--fixed & {
      padding-top: 0;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 23px;
    font-family: $gotham_pro;
    transition: all $mid;
    &--header {
      @media (max-width: 860px) {
        display: none;
      }
      .menu-is-open & {
        opacity: 0;
      }
      .header__top--fixed & {
        margin-top: 0;
      }
    }
  }
  &__phone {
    color: #fff;
    font-family: $neo_sans_pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
  }
  &__email {
    position: relative;
    padding-left: 36px;
    color: #fff;
    font-family: $gotham_pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      width: 23px;
      height: 23px;
      background-image: url(../assets/images/header-email.png);
    }
  }

  &__info {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    @media (min-width: 860px) {
      top: auto;
      bottom: 30%;
      left: 66px;
    }
    @media (min-width: 1366px) {
      left: 149px;
    }
    @media (max-height: 767px) {
      top: 150px;
      bottom: auto;
    }
  }
  &__tagline {
    max-width: 920px;
    margin: 0;
    font-family: $neo_sans_pro;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    @media (min-width: 860px) {
      font-size: 80px;
      text-align: left;
      line-height: 1;
    }
    @media (min-width: 1366px) {
      font-size: 110px;
    }
    span {
      font-family: $neo_sans_cyr;
      font-size: 38px;
      font-weight: 400;
      @media (min-width: 860px) {
        font-size: 60px;
      }
      @media (min-width: 1366px) {
        font-size: 90px;
      }
    }
  }
  &__btns {
    padding-top: 50px;
    @media (max-width: 859px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .btn + .btn {
      @media (max-width: 859px) {
        margin-top: 20px;
      }
      @media (min-width: 860px) {
        margin-left: 20px;
      }
    }
  }

  &__video {
    display: flex;
    align-items: center;
    position: absolute;
    right: 41px;
    bottom: 46px;
    // right: 90px;
    // bottom: -30px;
    height: 250px;
    // @media (min-height: 1100px) {
    //   right: 41px;
    //   bottom: 46px;
    // }
    @media (max-width: 859px) {
      display: none;
    }
  }
  &__video-tagline {
    width: 200px;
    margin-right: 84px;
    font-family: $gotham_pro;
    font-size: 21px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
  }
  &__video-container {
    position: relative;
    // img {
    //   display: none;
    //   @media (min-height: 1100px) {
    //     display: block;
    //   }
    // }
  }
  &__video-btn {
    position: absolute;
    top: 50%;
    left: -62px;
    margin-top: -62px;
    cursor: pointer;
  }

  &__bottom {
    position: absolute;
    left: 50%;
    bottom: -45px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    background-color: #fb3e43;
    border-radius: 50%;
    @media (max-width: 859px) {
      display: none;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -4px;
      margin-left: -7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 8px 0 8px;
      border-color: #fff transparent transparent transparent;
    }
  }
}
