.calc {
  padding-top: 66px;
  background-image: url(../assets/images/calc-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 860px) {
    padding-top: 130px;
    padding-bottom: 210px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0 20px;
    color: #fff;
    font-family: $neo_sans_pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    @media (min-width: 860px) {
      padding: 0;
      font-size: 60px;
    }
  }
  &__body {
    position: relative;
    padding-bottom: 60px;
    @media (min-width: 1200px) {
      width: 1146px;
      height: 582px;
      margin: 0 auto;
      padding-bottom: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#000, 0.6);
      @media (min-width: 1200px) {
        left: 20px;
        right: 20px;
        border-radius: 20px;
        transform: skewX(-4deg);
      }
    }
  }
  &__form {
    position: relative;
    padding: 30px 20px;
    color: #fff;
    z-index: 1;
    @media (min-width: 1200px) {
      display: flex;
      padding: 70px 90px;
    }
  }
  &__fieldset {
    @media (min-width: 1200px) {
      width: 50%;
      margin: 0 28px;
    }
  }
  &__slider {
    margin-bottom: 20px;
  }
  &__value {
    display: inline-block;
    width: 105px;
    height: 68px;
    margin-right: 40px;
    padding: 0 20px;
    color: #707070;
    background-color: #fff;
    font-family: $gotham_pro;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border: 0 none;
    border-radius: 50px;
    @media (min-width: 1200px) {
      height: 90px;
      font-size: 24px;
    }
  }
  &__handle {
    display: inline-block;
    width: calc(100% - 170px);
  }
  &__btn {
    position: relative;
    text-align: center;
    @media (min-width: 1200px) {
      margin-top: -45px;
    }
  }
}
