section.calc
  h2.calc__title Рассчитйте стоимость доставки<br>вашего груза
  .calc__body
    form(action="#")
      .calc__form
        .calc__fieldset
          label.form__label(for="cargo-field") 01&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ТИП ГРУЗА
          input.form__field(type="text", name="cargo", id="cargo-field", placeholder="Электроника, спиннеры")

          label.form__label(for="departure-field") 02&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ПУНКТ ОТПРАВКИ
          input.form__field(type="text", name="departure", id="departure-field", placeholder="Например, Шэньчжэнь")

          label.form__label(for="destination-field") 03&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ПУНКТ НАЗНАЧЕНИЯ
          input.form__field(type="text", name="destination", id="destination-field", placeholder="Например, Москва")

        .calc__fieldset
          label.form__label(for="weight-field") 04&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВЕС ГРУЗА (КГ)
          .calc__slider
            input.calc__value.js-cargo-weight-value(type="text", name="weight", id="weight-field")
            .calc__handle.js-cargo-weight-slider

          label.form__label(for="name-field") 05&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВАШЕ ИМЯ
          input.form__field(type="text", name="name", id="name-field", placeholder="Иван Иванов")

          label.form__label(for="phone-field") 06&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;ВАШ ТЕЛЕФОН <span>*</span>
          input.form__field(type="text", name="phone", id="phone-field", placeholder="+7 (___) ___-__-__")

      .calc__btn
        button.btn.btn--shadow Рассчитать стоимость
