.footer {
  display: flex;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  &__contacts {
    display: flex;
    justify-content: center;
    order: 2;
    padding: 0 20px 72px;
    color: #fff;
    background-color: #ff3e41;
    @media (min-width: 1200px) {
      justify-content: flex-end;
      order: 0;
      width: 50%;
      padding: 0 0 155px;
    }
  }
  &__photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
  &__title {
    margin-top: 80px;
    font-family: $neo_sans_pro;
    font-size: 42px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    @media (min-width: 860px) {
      margin-top: 170px;
      font-size: 80px;
      text-align: left;
    }
  }
  &__subtitle {
    margin: 65px 0 50px;
    color: #19233a;
    font-family: $neo_sans_pro;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    @media (min-width: 860px) {
      margin: 120px 0 100px 90px;
      font-size: 55px;
      line-height: 65px;
      text-align: left;
    }
    @media (min-width: 1200px) and (max-width: 1800px) {
      margin-bottom: 0;
    }
  }
  &__address {
    margin-top: 55px;
    font-family: $gotham_pro;
    font-size: 19px;
    font-weight: 700;
    @media (min-width: 860px) {
      margin-top: 110px;
      font-size: 30px;
    }
  }
  .owl-carousel .owl-nav,
  .owl-carousel .owl-dots {
    @media (max-width: 859px) {
      display: none;
    }
  }
  &__link {
    position: relative;
    display: block;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color $mid;
    }
    &:hover {
      &:after {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
  }
}


.contacts {
  margin-top: 40px;
  &__wrapper {
    @media (min-width: 1200px) {
      width: 558px;
    }
    @media (min-width: 1366px) {
      width: 661px;
    }
  }
  &__cell {
    display: flex;
    & + & {
      margin-top: 40px;
      @media (min-width: 860px) {
        margin-top: 64px;
      }
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width: 860px) {
      width: 82px;
      height: 82px;
    }
    &--email {
      background-image: url(../assets/images/contacts-email.png);
      @media (max-width: 859px) {
        background-size: 42px 42px;
      }
    }
    &--phone {
      background-image: url(../assets/images/contacts-phone.png);
      @media (max-width: 859px) {
        background-size: 29px 50px;
      }
    }
  }
  &__info {
    padding-left: 28px;
    @media (min-width: 860px) {
      padding-left: 50px;
    }
  }
  &__label {
    font-family: $gotham_pro;
    font-size: 13px;
    font-weight: 700;
    @media (min-width: 860px) {
      font-size: 21px;
    }
  }
  &__email {
    color: #fff;
    font-family: $gotham_pro;
    font-size: 19px;
    font-weight: 700;
    line-height: 1;
    @media (min-width: 860px) {
      font-size: 30px;
    }
  }
  &__phone {
    color: #fff;
    font-family: $neo_sans_pro;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    @media (min-width: 860px) {
      font-size: 40px;
    }
  }
  &__btn {
    margin-top: 50px;
    @media (min-width: 860px) {
      margin-top: 80px;
    }
  }
}
