footer.footer
  .footer__contacts
    .contacts__wrapper
      h2.footer__title Контакты
      .footer__address Китай, г. Манчжурия
      .contacts
        .contacts__cell
          .contacts__icon.contacts__icon--email
          .contacts__info
            .contacts__label Пишите нам:
            a.contacts__email(href='mailto:ct-cargo@bk.ru') ct-cargo@bk.ru
        .contacts__cell
          .contacts__icon.contacts__icon--phone
          .contacts__info
            .contacts__label Звоните нам:
            a.contacts__phone(href='tel:88002226078') 8 (800) 222-60-78
        .contacts__btn.btn.btn--white.js-feedback Получить консультацию

  .footer__photos
    h2.footer__subtitle Фото недавно<br>отправленных<br>грузов
    .footer__carousel.owl-carousel.js-footer-carousel
      .footer__cell
        .footer__img
          a.footer__link(data-fancybox="footer" href="./assets/images/footer-img1.jpg")
            img(src="./assets/images/footer-img1.jpg")
        .footer__img
          a.footer__link(data-fancybox="footer" href="./assets/images/footer-img2.jpg")
            img(src="./assets/images/footer-img2.jpg")
      .footer__cell
        .footer__img
          a.footer__link(data-fancybox="footer" href="./assets/images/footer-img2.jpg")
            img(src="./assets/images/footer-img2.jpg")
        .footer__img
          a.footer__link(data-fancybox="footer" href="./assets/images/footer-img1.jpg")
            img(src="./assets/images/footer-img1.jpg")
      .footer__cell
        .footer__img
          a.footer__link(data-fancybox="footer" href="./assets/images/footer-img1.jpg")
            img(src="./assets/images/footer-img1.jpg")
        .footer__img
          a.footer__link(data-fancybox="footer" href="./assets/images/footer-img2.jpg")
            img(src="./assets/images/footer-img2.jpg")
