.facts {
  width: 100%;
  max-width: 1323px;
  margin: auto;
  padding: 90px 30px 0;
  @media (min-width: 860px) {
    padding: 168px 30px 90px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #19233a;
    font-family: $neo_sans_pro;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    @media (min-width: 860px) {
      margin-bottom: 42px;
      font-size: 80px;
    }
  }
  &__items {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__item {
    height: 210px;
    @media (min-width: 860px) {
      height: 280px;
    }
    @media (min-width: 1200px) {
      width: 33.3333%;
      background-image: url(../assets/images/facts-bg.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__number {
    color: #ff3e41;
    font-size: 110px;
    font-family: $neo_sans_pro;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    @media (min-width: 1200px) {
      font-size: 140px;
    }
    &--small {
      font-size: 85px;
      margin-top: 30px;
      margin-bottom: 22px;
      @media (min-width: 1200px) {
        font-size: 110px;
      }
    }
  }
  &__text {
    margin-top: -40px;
    color: #000;
    font-family: $gotham_pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    @media (min-width: 1200px) {
      font-size: 30px;
    }
  }
}
