section.facts
  h2.facts__title Факты о нас
  .facts__items
    .facts__item
      .facts__number 4554
      .facts__text Клиентам<br>доставили грузов

    .facts__item
      .facts__number 7
      .facts__text Лет<br>на рынке

    .facts__item
      .facts__number.facts__number--small 34 358
      .facts__text Грузов<br>доставлено
