doctype html
html(lang="en")
  include ./components/head/head.pug
  body
    .wrapper
      include ./components/header/header.pug
      main
        include ./components/delivery/delivery.pug
        include ./components/advantages/advantages.pug
        include ./components/steps/steps.pug
        include ./components/calc/calc.pug
        include ./components/facts/facts.pug
        include ./components/reviews/reviews.pug
        include ./components/discount/discount.pug
      include ./components/footer/footer.pug

      include ./components/modal/modal.pug

  link(rel="stylesheet", href="./css/main.css")
  script(src='./js/vendor/jquery-3.2.1.min.js')
  script(src='./js/vendor/smoothscroll.js')
  script(src='./js/vendor/nouislider.min.js')
  script(src='./js/vendor/owl.carousel.min.js')
  script(src='./js/vendor/jquery.fancybox.min.js')
  script(src='./js/main.js')
