$btn-border: '1px';

.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: $gotham_pro;
  font-weight: 700;
  text-align: center;
  border: 0 none;
  cursor: pointer;

  &--outline,
  &--transparency {
    width: 316px;
    height: 71px;
    color: #fff;
    font-size: 16px;
    line-height: 66px;
    border-radius: 48px;
    @media (min-width: 1366px) {
      width: 430px;
      height: 96px;
      font-size: 21px;
      line-height: 90px;
    }
  }
  &--outline {
    border: 3px solid #ff3e41;
  }
  &--transparency {
    border: 3px solid transparent;
    background-color: rgba(#ff3e41, 0.8);
  }

  &--shadow,
  &--white {
    width: 315px;
    height: 70px;
    font-size: 16px;
    line-height: 70px;
    box-shadow: 3px 4px 50px rgba(255, 62, 65, 0.75);
    border-radius: 58px;
    @media (min-width: 860px) {
      width: 515px;
      height: 115px;
      font-size: 25px;
      line-height: 115px;
    }
  }
  &--shadow {
    color: #fff;
    background-color: #ff3e41;
  }
  &--white {
    color: #000;
    background-color: #fff;
  }
}

.video-btn {
  width: 86px;
  height: 86px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  @media (min-width: 860px) {
    width: 124px;
    height: 124px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    width: 58px;
    height: 58px;
    background-color: #fb3e43;
    border-radius: 50%;
    @media (min-width: 860px) {
      width: 96px;
      height: 96px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #fff;
    @media (min-width: 860px) {
      margin-top: -11px;
      margin-left: -4px;
      border-width: 11px 0 11px 16px;
    }
  }
}

.close-btn,
.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 110px;
  cursor: pointer;
  @media (min-width: 860px) {
    width: 140px;
    height: 140px;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 3px;
    margin-top: -3px;
    margin-left: -22px;
    background-color: #fff;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}
.close-btn {
  border: 3px solid rgba(#fff, 0.1);
}
.modal-btn {
  background-color: #19233a;
}
