/* Common Styles
----------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.75;
}

*, *:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all $slow;
}

textarea {
  resize: vertical;
}

hr {
  display: block;
  height: 1px;
  border: 0 none;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.wrapper {
  position: relative;
  min-width: 355px;
  min-height: 100%;
  overflow-x: hidden;
}
