// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)

// Best Support
// @font-face {
//   font-family: 'font-family';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../assets/fonts/font-name.eot');
//   src: local('☺'),
//     url('../assets/fonts/font-name.woff2') format('woff2'),
//     url('../assets/fonts/font-name.woff') format('woff'),
//     url('../assets/fonts/font-name.ttf') format('truetype'),
//     url('../assets/fonts/font-name.svg#font-name') format('svg');
// }

// Modern Browsers
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local('☺'),
//        url('../assets/fonts/roboto-v16-latin-regular.woff2') format('woff2'),
//        url('../assets/fonts/roboto-v16-latin-regular.woff') format('woff');
// }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/RobotoRegular/RobotoRegular.eot);
  src: url(../assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/RobotoRegular/RobotoRegular.woff) format("woff"),
    url(../assets/fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/RobotoBold/RobotoBold.eot);
  src: url(../assets/fonts/RobotoBold/RobotoBold.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/RobotoBold/RobotoBold.woff) format("woff"),
    url(../assets/fonts/RobotoBold/RobotoBold.ttf) format("truetype")
}


@font-face {
  font-family: 'GothamPro';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/GothamProRegular/GothamProRegular.eot);
  src: url(../assets/fonts/GothamProRegular/GothamProRegular.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/GothamProRegular/GothamProRegular.woff) format("woff"),
    url(../assets/fonts/GothamProRegular/GothamProRegular.ttf) format("truetype")
}
@font-face {
  font-family: 'GothamPro';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/GothamProBold/GothamProBold.eot);
  src: url(../assets/fonts/GothamProBold/GothamProBold.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/GothamProBold/GothamProBold.woff) format("woff"),
    url(../assets/fonts/GothamProBold/GothamProBold.ttf) format("truetype")
}


@font-face {
  font-family: 'NeoSansPro';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/NeoSansProRegular/NeoSansProRegular.eot);
  src: url(../assets/fonts/NeoSansProRegular/NeoSansProRegular.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/NeoSansProRegular/NeoSansProRegular.woff) format("woff"),
    url(../assets/fonts/NeoSansProRegular/NeoSansProRegular.ttf) format("truetype")
}
@font-face {
  font-family: 'NeoSansPro';
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/NeoSansProBold/NeoSansProBold.eot);
  src: url(../assets/fonts/NeoSansProBold/NeoSansProBold.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/NeoSansProBold/NeoSansProBold.woff) format("woff"),
    url(../assets/fonts/NeoSansProBold/NeoSansProBold.ttf) format("truetype")
}


@font-face {
  font-family: 'NeoSansCyr';
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/NeoSansCyrRegular/NeoSansCyrRegular.eot);
  src: url(../assets/fonts/NeoSansCyrRegular/NeoSansCyrRegular.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/NeoSansCyrRegular/NeoSansCyrRegular.woff) format("woff"),
    url(../assets/fonts/NeoSansCyrRegular/NeoSansCyrRegular.ttf) format("truetype")
}
