.form {
  &__label {
    display: inline-block;
    margin-bottom: 6px;
    font-family: $gotham_pro;
    font-size: 12px;
    font-weight: 700;
    @media (min-width: 860px) {
      font-size: 16px;
    }
    span {
      color: #ff3e41;
    }
  }
  &__field {
    width: 100%;
    height: 68px;
    margin-bottom: 20px;
    padding-left: 46px;
    background-color: #fff;
    font-family: $gotham_pro;
    font-size: 15px;
    font-weight: 700;
    border: 0 none;
    border-radius: 50px;
    @media (min-width: 860px) {
      height: 90px;
      font-size: 20px;
    }
    &::placeholder {
      color: #707070;
    }
  }
}
