.title {
  &--sec {
    margin-top: 0;
    color: #fff;
    font-family: $neo_sans_pro;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    @media (min-width: 860px) {
      font-size: 55px;
      line-height: 65px;
    }
    span {
      color: #ff3e41;
    }
  }
}
