// Colors
$yellow:              #fce473;
$pink:                #c71585;
$green:               #32cd32;
$blue:                #1d90ff;

$primary-color:       $blue;
$secondary-color:     $yellow;


// Fonts
$primary-font:        'Roboto', sans-serif;
$neo_sans_pro:        'NeoSansPro', sans-serif;
$neo_sans_cyr:        'NeoSansCyr', sans-serif;
$gotham_pro:          'GothamPro', sans-serif;


// Dimensions
$container-with: 1170px;
$footer-height: 115px;


// Transitions
$fast: 150ms;
$mid:  350ms;
$slow: 500ms;
