nav.nav
  .nav__btn
    span

  .nav__body
    .close-btn.js-nav-close
    .header__contacts.nav__contacts
      a.header__phone(href="tel:88002226078") 8 (800) 222-60-78
      span Звонок бесплатный по РФ
      a.header__email(href="mailto:ct-cargo@bk.ru") ct-cargo@bk.ru
    ul.nav__list
      li
        button.nav__link.js-start Начало
      li
        button.nav__link.js-delivery Карго доставка
      li
        button.nav__link.js-steps Как мы работаем
      li
        button.nav__link.js-calc Расчет стоимости
      li
        button.nav__link.js-reviews Отзывы
      li
        button.nav__link.js-footer Контакты
