.nav {
  position: absolute;
  top: 0;
  right: 0;
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 110px;
    height: 110px;
    border: 3px solid rgba(#fff, 0.2);
    transition: all $mid;
    cursor: pointer;
    z-index: 100;
    @media (min-width: 860px) {
      width: 140px;
      height: 140px;
    }
    .header__top--fixed & {
      background-color: #ff3e41;
      border: 3px solid #ff3e41;
    }
    &:before,
    &:after,
    > span {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 3px;
      margin-left: -25px;
      background-color: #fff;
    }
    &:before {
      content: '';
      margin-top: -14px;
    }
    &:after {
      content: '';
      margin-top: 14px;
    }
  }
  &__body {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    padding-top: 110px;
    background-color: #19233a;
    overflow-y: auto;
    transition: right $mid;
    z-index: 200;
    @media (min-width: 860px) {
      right: -578px;
      width: 578px;
      height: 730px;
      padding-top: 160px;
    }
    .menu-is-open & {
      right: 0;
    }
  }
  &__contacts {
    position: absolute;
    top: -10px;
    @media (max-width: 859px) {
      transform: scale(0.6);
    }
    @media (min-width: 860px) {
      top: 23px;
      right: 203px;
    }
  }
  &__list {
    text-align: center;
  }
  &__link {
    width: 100%;
    padding: 0;
    color: #fff;
    background-color: transparent;
    font-family: $neo_sans_pro;
    font-size: 24px;
    font-weight: 700;
    line-height: 62px;
    border: 0 none;
    cursor: pointer;
    transition: background-color $slow;
    @media (min-width: 860px) {
      font-size: 32px;
      line-height: 95px;
    }
    &:hover {
      background-color: #ff3e41;
    }
  }
}
